* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
}


/* Header */

.bg{
    background-color: #1A0B2E;
    border-bottom: 1px solid purple;
  
}

.logo h2{
    width: 219;
    height: 32;
}
.white{
    color: white;
}
.linear{
    background: linear-gradient(
    180deg,
    #9c27ff,
    #ff2fb3,
    #ffcc33
  );
  background-clip: text;
  color: transparent;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    width: 1600;
    height: 92;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    justify-content: space-between;
}
nav .menu a{
    font-size: 16px;
    text-decoration: none;
    width: 218;
    height: 19;
    opacity: 100%;
    font-weight: medium;
    color: #FFFFFF;
  }
  .btn{
    background: linear-gradient(
        180deg,
        #9c27ff,
        #ff2fb3,
        #ffcc33
      );
    border: none;
    padding: 12px 16px;
    border-radius:999px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    gap: 4px;
}

#first{
    background: url(./assets/hero-bg.png);
    padding: 110px 120px 180px;
    background-size: cover;
    background-repeat: repeat;
   text-align: center;
   padding-bottom: 40px;
}

.background-top{
    position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.icon-container{
    width: 350px;
  height: 350px;
  padding: 69px 75px 81px;
  border-radius: 50%;
  border: 8px solid rgba(42, 24, 108, 1);
  background: linear-gradient(
        180deg,
        #9c27ff,
        #ff2fb3,
        #ffcc33
      );
  display: flex;
  align-items: center;
  justify-content: center;

}
.mic-icon {
    width: 150px;
    height: 200px;
  }


.badge {
    position: absolute;
    top: 20px; 
    right: 15px;
    background: #00ff99;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 20px;
  }

#first .para h2{
    width: 550;
    height: 73;
    font-size: 60px;
    color: #FFFFFF;   
    align-content: center; 
    gap: 40px;
 }
 #first .para p{
    width: 500;
    height: 19;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;    
    opacity: 80%;
    gap: 40px;
 }
 .button{
    padding-top: 24px;
    gap: 4px;
   
 }
 .btn2{
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius:999px;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    cursor: pointer;
    background: transparent;
 }

 #Podcast{
    background: #1A0B2E;
    padding: 200px 120px 200px 120px;
    background-size: cover;
    background-repeat: no-repeat;
   text-align: center;
   color: #FFFFFF;
 }

 #Podcast .About h2{
    width: 1200;
    height: 58;
    font-size: 48px;
    color: #FFFFFF;   
    padding-bottom: 16px;
    font-weight: bold;
 }
 #Podcast .About p{
    width: 1200;
    height: 148;
    font-size: 16px;
    color: #FFFFFF;   
    padding-bottom: 5px;
    opacity: 80%;
    padding-bottom: 40px;
    line-height: 25px;
 }

 /*#Podcast .box-section{
    margin-top: 44px;
    display: flex;
    justify-content: center;
    gap: 24px;
 }
 #Podcast .box{
    text-align: center;
    padding: 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
 }*/
 .box-section {
    margin-top: 44px;
    padding: 40px 40px;
    border-top: 1px solid white; 
    display: flex;
    justify-content: center;
    gap: 24px; 
}

#Podcast .box h3 {
    font-size: 48px; 
    color: #00FF88; 
    margin-bottom: 8px;
    font-weight: bolder;
    padding: 0px 40px;
}

#Podcast .box p {
    font-size: 18px;
    text-transform: uppercase; 
    line-height: 20px;
    opacity: 80%;
}
 